{% extends 'pet_shop/base.html' %}

{% block title %}
Головна сторінка
{% endblock %}

{% block body %}
<div class="container">
        <h1>Доступні тварини</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Ім'я</th>
                    <th>Вік (років)</th>
                    <th>Вид</th>
                    <th>Стать</th>
                    <th>Вага</th>
                    <th>Ціна</th>
                </tr>
            </thead>
            <tbody>
                {% for pet in pets %}
                <tr>
                    <td>{{ pet.pet_name }}</td>
                    <td>{{ pet.pet_age }}</td>
                    <td>{{ pet.pet_species.species_name }}</td>
                    <td>{{ pet.pet_sex }}</td>
                    <td>{{ pet.pet_weight }}</td>
                    <td>{{ pet.pet_species.species_price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
